<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dshpet.resourcesharer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ResourceType"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ResourceType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dshpet.resourcesharer.ResourceType" />
        </activity>

        <service
            android:name=".Services.RemoteServerConnection"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Services.TaskRetriever"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
